/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color:rgb(255, 255, 255);

  }
  
  header {
    background: #56595a;
   
    height: 200px;
    margin: 9px;
    border: #000000 solid 4px;
    border-radius: 20px;
    

  }
  
  header .logo {
    display: flex;
    align-items: center;
  
  }
  
  
  nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;

  }
  
  nav ul li a {
    color: rgb(249, 160, 6);
    text-decoration: none;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
  
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  footer {
    background: #000000;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
  }
  
  footer ul li {
    display: inline;
    margin: 0 10px;
  }
  
  footer ul li a {
    color: #0073e6;
    text-decoration: none;
  }
  
  h2 {
    color:#410dd1;
  font-family: Georgia, 'Times New Roman', Times, serif;
  }

  
  .menu{
font-family: Georgia, 'Times New Roman', Times, serif; 

 }
h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    padding: 0px;
    margin: 0px;
}
li a:hover{
  color:rgb(255, 0, 149);

}

.pp{
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.pp:hover{

  color: gold;
}

.k:hover{
  color: chartreuse;
}
.h1{

  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
img{
  width: 100px;
}
h3{

  color: #00a2ff;
}
 h2:hover{
  color: rgba(18, 18, 18, 0.819);
 }
 .inf{

  width: 200px;
  height: 200px;
  border-radius: 3px;
 }
 